<div class="container">


  <div class="form-horizontal" *ngIf=!check>
    <h1>Welcome to my site!</h1>
    <p>Won't you please <a routerLink="/login">sign in</a> or <a routerLink="/register">register</a>?</p>
  </div>
  <div class="form-horizontal" *ngIf=check>
    <h1>Hello {{user.name}}!</h1>


    <div class="form-group ">

      <div class="col-sm-4 col-sm-offset-1">

        <span>Drop down 1: </span>
        <select name="my-dropdown" [(ngModel)]="Dropdown" (change)="genstring(Dropdown)">
          <option *ngFor="let number of numbers" [ngValue]="number">{{number}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <span>Drop down 2: </span>
        <select name="my-dropdown1" [(ngModel)]="Dropdown1" (change)="genstring1(Dropdown1)">
          <option *ngFor="let number1 of numbers1" [ngValue]="number1">{{number1}}</option>
        </select>

      </div>
    </div>
    <h3>&nbsp;</h3>
    <div class="form-group" >
      <div class="col-sm-10 col-sm-offset-1">
        <span>String 1: </span>
        <span>{{reqstr}}</span>
      </div>
      <h3>&nbsp;</h3>
      <div class="col-sm-10 col-sm-offset-1">
        <span>String 2: </span>
        <span>{{reqstr1}}</span>
      </div>
    </div>
    <h3>&nbsp;</h3>
    
    <div class="form-group" >
        <div class="col-sm-10 col-sm-offset-1">
            <span>Longest common sub-sequence String: </span>
            <span>{{longcomonstring}}</span>
          </div>
          <h3>&nbsp;</h3>
    <div class="col-sm-10 col-sm-offset-3">
      

      <button type="click" (click)="findLongestseq();savetodb()"  [disabled]="!reqstr1||!reqstr" class="btn btn-default">Find</button>
      
    </div>

  </div>
</div>